*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Dosis', sans-serif;
}
*:focus{
    outline: none;
}
:root{
    --alert-color: #c99e03;
}

.auth-commun{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
}


.bg-img{
    background-image: url('/images/bg_identification.jpeg');
    background-size: cover;
    background-position: center;   
}

.formulaire{
    width: 30rem;
    height : auto;
    color: #fff;
    font-family: 'dosis', sans-serif;
}
.entete{
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    opacity:0;

}
input, .btn-valider{
    width: 80%;
    height: 2rem;
    display: block;
    margin: 1rem auto;
    border-radius: 0.3rem;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 0.2rem;
    transition: .5s;
    opacity:0;
}
input::placeholder{
    color: #fff;
}
input:focus, .btn-valider:hover{
    background-color: #fff;
    color: #808080;
}
input:focus::placeholder{
    color: #808080;
}
.btn-valider{
    width: auto;
    padding: 0 1.3rem;
    cursor: pointer;
    margin: 1.5rem auto 0;
    opacity:0;
}

.lien-inscription{
    opacity:0;
    text-align: center;
    color: rgba(255,255,255,0.5);
    display:block;
    margin: 1rem auto;
}
.lien-inscription:hover{
    color: #fff;
}

.msg-alerte{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    padding: 0.3rem;
    text-transform: capitalize;
    background: #e1c45d;
    border-top: 0.5rem solid var(--alert-color);
    border-bottom-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
    color: #fff;
    font-family: 'dosis', sans-serif;
    text-align: center;
    transition: 1s;
}

.credit-hoto a{
    text-decoration: none;
    color: #808080;
}
.credit-photo{
    position: relative;
    bottom: 12rem;
    left: 1rem;
    text-align: right;
    color: #808080;
    vertical-align: bottom;
    text-transform: uppercase;
    z-index: 1;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}