<footer>
    <small class="credit-photo"><a href="https://unsplash.com/@ismaelparamo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">©Ismael Paramo</a> sur <a href="https://unsplash.com/fr/photos/aEtbu7ymQo4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></small>
    <small class="droit-reserve">Tous droits réservés ©Anais Wouappi</small>
    
</footer>
</body>
</html>