<body>
    <header class="header">
        <img class="logo" src="/images/logo_GR_blanc.png" alt="logo GR blanc">
        <nav>
            <ul>
                <li><a href="/auth/deconnexion">déconnexion</a></li>
                <li><a href="/edit/all-events">nos événements</a></li>
                <li><a href="/ajouter">ajouter un événement</a></li>
            </ul>
        </nav>
    </header>