<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/accueil.js" defer></script>
</head>
<body class="auth-commun bg-img">
    <div class="contour index">
        <h1 class="msg-accueil">pôle communication génération réveil</h1>
        <a class="btn-publier" href="/inscription" title="lien page d'inscription">créer un compte</a>
        <a class="btn-publier2" href="/connexion" title="lien page connexion">accéder à son compte</a>
    </div>


    <%- include('footer') %> 

